// this is the place for custom wtl modifications

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);

// modularized approach
@import 'modules/type';
@import 'modules/tables';
@import 'modules/responsive';
// to be modularized

.math-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

.vertical-spacing {
  margin-bottom: 2em;
}

.template {
  &-center {
    text-align: center;

    .wikitable {
      display: table;
      margin: 0 auto;
    }

    img {
      margin: 0 auto;
    }
  }

  &-flushleft {
    text-align: left;

    .math-wrapper {
      display: inline-block;
    }

    img {
      margin: 0;
    }
  }

  &-flushright {
    text-align: right;

    .math-wrapper {
      display: inline-block;
    }

    .wikitable {
      display: table;
      margin: 0 0 auto auto;
    }

    img {
      margin: 0 0 auto auto;
    }
  }
}

#smallogo {
  float: left;
  width: 20px !important;
  height: 20px;
  margin-right: 10px;
  margin-left: -10px;
}


%language-box {
  background-color: #d9edf7;
  border: 1px solid transparent;
  border-color: #bce8f1;
  border-radius: 4px;
  color: #31708f;
  margin-bottom: 20px;
  padding: 15px;
}

.mw-pt-languages-list {
  @extend %language-box;
}

.mw-pt-languages-label {
  @extend %language-box;
  width: 16%;
}
