// this is the place for custom wtl modifications

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);

// modularized approach
@import 'modules/type';
@import 'modules/tables';
@import 'modules/forms';
@import 'modules/icons';
@import 'modules/buttons';
@import 'modules/sidebar';
@import 'modules/navbar';
@import 'modules/templates';
@import 'modules/notifications';
@import 'modules/page-actions';
@import 'modules/suggestions';
@import 'modules/articles';
@import 'modules/specialpages';
@import 'modules/footer';

@import 'modules/helpers';
@import 'modules/responsive';
// to be modularized

body[class*="_it skin-Neverland action-view"]  #firstHeading {
  display:none;
}

.oo-ui-buttonElement-framed.oo-ui-iconElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon.oo-ui-icon-next , .oo-ui-iconElement-icon.oo-ui-icon-advanced  {
  top: 1.5em!important;
}

.oo-ui-widget.oo-ui-widget-enabled.oo-ui-labelElement.oo-ui-popupWidget-anchored.oo-ui-popupWidget {
  top: 30px;
}

.math-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

.vertical-spacing {
  margin-bottom: 2em;
}

#smallogo {
  float: left;
  width: 20px !important;
  height: 20px;
  margin-right: 10px;
  margin-left: -10px;
}


%language-box {
  background-color: #d9edf7;
  border: 1px solid transparent;
  border-color: #bce8f1;
  border-radius: 4px;
  color: #31708f;
  margin-bottom: 20px;
  padding: 15px;
}

.mw-pt-languages-list {
  @extend %language-box;
}

.mw-pt-languages-label {
  @extend %language-box;
  width: 16%;
}

#toolbar {
  margin-bottom: 10px;
}

#toolbar img {
  margin-right: 3px;
}

.rcoptions {
  line-height: 1.8em;
}

.rcoptions hr {
  display: none;
}
