#p-search {
  margin-right: 20px;
  margin-top: 10px;
}

#p-search form {
  margin: 0;
}

#contentSub {
  margin-bottom: 15px;
}

#catlinks {
  margin-top: 20px;
}

#toctitle {
  margin-left: -30px !important;
  margin-right: 30px !important;
}

.thumb .thumbinner, .center .floatnone img {
  margin: 0 auto 10px;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.tleft .thumbinner, .floatleft a {
  margin-right: 8px !important;
}
.tright .thumbinner, .floatright a {
  margin-left: 8px !important;
}

.image > img {
   max-width:100%;
   height: auto;
   display:block;
}

.manualtoc ol {
  counter-reset: item;
}

.manualtoc li {
  display: block;

  &:before {
    content: counters(item, ".") " ";
    counter-increment: item;
  }
}

.mw-sp-translate-table > tbody > tr > td:last-child {
	word-break: break-word;
}

#firstHeading .languageselector {
  float: right;
}

legend {
  height: 40px;
}
