#notifications-button-mobile {
  padding-left: 10px;
}

#pt-notifications-alert > a,
#pt-notifications-message > a {
  height: 25px !important;
  background-position: 3px 3px !important;
  padding-top: 4px !important;
  margin-top: 0px !important;
}
