.list-header {
  background: #00613a;
  border-radius: 5px;
  color: #fff;
  font-size: 1.20em;
  margin-bottom: 5px;
  margin-right: -16px;
  margin-top: 15px;
  padding: 2px 8px;
}

.right-sidebar {
  width: 220px;
}

.wikimenu {
  ul {
    font-size: 15px;
    margin-left: -25px;
    margin-right: 12px;
  }

  li {
    line-height: 1.5em;
    margin-left: 10px;
  }

  img {
    display: block;
    margin: 0 auto 20px;
  }
}

#wfm-logo {
  margin-bottom: 30px;
  margin-top: 15px;
}
