.template {
  &-center {
    text-align: center;

    .wikitable {
      display: table;
      margin: 0 auto;
    }

    img {
      margin: 0 auto;
    }
  }

  &-flushleft {
    text-align: left;

    .math-wrapper {
      display: inline-block;
    }

    img {
      margin: 0;
    }
  }

  &-flushright {
    text-align: right;

    .math-wrapper {
      display: inline-block;
    }

    .wikitable {
      display: table;
      margin: 0 0 auto auto;
    }

    img {
      margin: 0 0 auto auto;
    }
  }
}

.environmentcontent{
    padding-left: 0.5rem;
    border-left: 1px solid #eee;

    p:last-of-type{
        margin-bottom: 0;
    }

    .beginenvironment{
        margin-top: 0.5rem;
    }
    .endenvironment{
        margin-bottom: 0.5rem;
    }
}

.endenvironment{
    margin-bottom: 1rem;
}

html{
    .show-only-in-ve, .show-only-in-ve-block{
        display: none;
    }

    &.ve-active{
        .show-only-in-ve-block{
            display: block;
        }
        .show-only-in-ve{
            display: inline-block;
        }
    }
    
}


.infobox{
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    
    border: 1px solid #00613a;
    border-left: 3px solid #00613a;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    background-color: #fafafa;

    i{
        color: #00613a;
        margin-right: 1rem;
    }

    a{
        color: #00613a;
        font-weight: bold;
    }
}

.warningbox{
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    
    border: 1px solid #ffbc31;
    border-left: 3px solid #ffbc31;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    background-color: #fafafa;

    i{
        color: #ffbc31;
        margin-right: 1rem;
    }

    a{
        color: #ffbc31;
        font-weight: bold;
    }
}

.template{
  &.center{
    text-align: center;
  }

  &.book{
    display: inline-block;
    .book__image{
      display: inline-block;
      margin-right: 0.5rem;
    }
    .book__details{
      display: inline-block;
    }
  }
}

.forcebreak{
    display: block;
    clear: both;
    content: " ";
}
