.template {
  &-center {
    text-align: center;

    .wikitable {
      display: table;
      margin: 0 auto;
    }

    img {
      margin: 0 auto;
    }
  }

  &-flushleft {
    text-align: left;

    .math-wrapper {
      display: inline-block;
    }

    img {
      margin: 0;
    }
  }

  &-flushright {
    text-align: right;

    .math-wrapper {
      display: inline-block;
    }

    .wikitable {
      display: table;
      margin: 0 0 auto auto;
    }

    img {
      margin: 0 0 auto auto;
    }
  }
}

.environmentcontent{
    padding-left: 0.5rem;
    border-left: 1px solid #eee;

    p:last-of-type{
        margin-bottom: 0;
    }

    .beginenvironment{
        margin-top: 0.5rem;
    }
    .endenvironment{
        margin-bottom: 0.5rem;
    }
}

.endenvironment{
    margin-bottom: 1rem;
}

html{
    .show-only-in-ve, .show-only-in-ve-block{
        display: none;
    }

    &.ve-active{
        .show-only-in-ve-block{
            display: block;
        }
        .show-only-in-ve{
            display: inline-block;
        }
    }
    
}
