@font-face {
  font-family: Latin Modern Math;
  src: url('latin-modern-fonts/latinmodern-math.otf');
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h4,
h5,
h6 {
  margin-top: 10px;
}

a {
  color: #52a552;

  .wikimenu & {
    color: #00613A;
  }
}

math {
  font-family: Latin Modern Math;
}

tt {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

blockquote {
  font-style: italic;
}

.content {
  font-size: 13pt;
  line-height: 1.5em;
}

.kw0,
.kw1,
.kw2,
.kw3,
.kw4,
.kw5 {
  font-family: monospace;
}

.mw-code,
#wpTextbox1 {
  font-family: monospace !important;
  font-size: 10pt;
  line-height: 1.7em;
}

#mw-content-text {
  font-size: 13pt;
  line-height: 1.5em;
}

code {
  white-space: normal;
  word-wrap: break-word;
}

#header-title {
  color: #999;
  float: left;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.page-info {
  color: #888;
  float: right;
  font-style: italic;
}

#firstHeading {
  font-size: 30px;
  line-height: 1.8em;
  text-align: center;
}

.mw-headline {
  font-size: 1.1em;
}

#mw-content-text h1,
#mw-content-text h2,
#mw-content-text h3,
#mw-content-text h4,
#mw-content-text h5,
#mw-content-text h6 {
  line-height: 1em !important;
  margin-top: 30px !important;
  margin-bottom: 15px;
}

#mw-content-text h1,
#mw-content-text h2 {
  margin-bottom: 10px !important;
  padding-bottom: 5px;
  border-bottom: 1px solid #dadada;
}

h3 .mw-headline,
h4 .mw-headline,
h5 .mw-headline,
h6 .mw-headline {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

h3 .mw-headline {
  font-size: 1.1em;
}

h4 .mw-headline {
  font-size: 1.3em;
}

h5 .mw-headline {
  font-size: 1.4em;
}

.editsection {
  font-size: 14px !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

h1 .editsection,
h2 .editsection {
  margin-top: 5px !important;
}

.toc {
  margin-left: 30px !important;
}

.toc h2 {
  border: 0 !important;
}

.menuchoice,
.keycap {
  font-family: "Liberation Sans", "Bitstream Vera Sans", "Sans Serif";
  font-weight: bold;
  padding-left: 3px;
}

h2.corsotitolo {
  border-bottom-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  left: 5px;
  position: relative;
  top: -25px;
}

div.mw-geshi div,
div.mw-geshi div pre,
span.mw-geshi,
pre.source-css,
pre.source-javascript {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace !important;
  font-size: 14px;
}

div.mw-geshi div,
div.mw-geshi div pre,
span.mw-geshi,
pre.source-css,
pre.source-javascript {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace !important;
  font-size: 14px;
}

.contributionscores-title  {
display:none;
}

span.mw-collapsible-toggle {
float:right !important;
}

.ace_editor {
  font-family: monospace !important;
  line-height: 1em;
}
