.reader {
  height: 0;
  position: relative;
  opacity: 0;
  transition: all ease .5s;
  color: #fff;

  header .toggle_reader {
    display: none;
  }

  .reader-nav {
    display: none;
    font-size: 4rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  .reader_logo {
    position: absolute;
    margin-left: -300px;
    height: 0;
    transition: all ease .5s;
  }

  &.active {
    background-color: #fff;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    transition: all ease .5s;
    opacity: 1;
    color: #333;

    .reader_logo {
      margin-left: 1rem;
    }

    .reader-nav {
      display: block;

      button {
        float: right;
      }
    }
  }
}

#content > header {
  position: relative;

  .toggle_reader {
    position: absolute;
    top: 20px;
    right: 0;
  }
}

*:fullscreen
*:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
   overflow: auto !important;
}
